---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import '../styles/global.css';
---
<footer>
<hr />
<p>P211012615 李楠</p>
<p><span>版权所有 &copy; 2024 Createcircle Studio 创界工作室</p>
        </footer>

<style>
    footer{
        text-align: center;
        color: rgb(92, 67, 115);
    }
</style>