---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import '../styles/global.css';
---


    <a href="/">首页</a>
    <a href="/1.服务介绍/">服务介绍</a>
    <a href="/2.案例展示/">案例展示</a>
    <a href="/3.客户评价/">客户评价</a>
    <a href="/4.联系方式/">联系方式</a>

<style>
    a{
        color: rgb(91, 17, 95);
        font-family: '方正仿宋简体';
        margin-right: 0.5em;
    }
    a:hover{
        text-decoration: none;
        background-color: rgb(158, 122, 122);
    }
</style>